#boloñesa{
    display: flex;
    justify-content: center;
    align-items: center;
}
#carbonara{
    display: flex;
    justify-content: center;
    align-items: center;
}
#napolitana{
    display: flex;
    justify-content: center;
    align-items: center;
}