@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: #F7FF93;
    justify-content: center;
    border: 1px solid;
    border-color: black;
}

main{
    font-family: 'Amatic SC';
    font-size: 24pt;
    font-weight: bold;
    background-image: url(../img/closeup-of-tasty-italian-ravioli.jpg) ;
}
footer{
    background-color: #F7FF93;
    padding: 5%;
    text-align: center;
    border: 1px solid;
    border-color: black;
}
#videoTuto{
    border-radius: 50px;
    border-color: black;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.imgs{
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
    border-style: solid;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.logo:hover{
    transform: scale(0.5);
    transition-property: all;
    transition-duration:4s ;
}

#espinaca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
#pollo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
#ricota{
    display: flex;
    justify-content: center;
    align-items: center;
}
#boloñesa{
    display: flex;
    justify-content: center;
    align-items: center;
}
#carbonara{
    display: flex;
    justify-content: center;
    align-items: center;
}
#napolitana{
    display: flex;
    justify-content: center;
    align-items: center;
}
.padre-main{
    display:grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer"; 
}

.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.content{
    grid-area: content;
}
.footer{
    grid-area: footer;
}
@media (min-width:500px){
    .padre-main{
    display:grid;
    grid-template-columns:auto 1fr 1fr;
    grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
    }
        header{
            border: 1px solid;
            border-color: black;
        }
        footer{
            border: 1px solid;
            border-color: black;
        }
}
@media (min-width:700px){
    .padre-main{
        display:grid;
        grid-template-columns: 0,2fr 2fr 1fr;
        grid-template-areas:
        "header header header"
        "nav content content"
        "footer footer footer";
        }
        header{
            border: 1px solid;
            border-color: black;
        }
        footer{
            border: 1px solid;
            border-color: black;
        }
}
@media(min-width:900px){
    .padre-main{
        display:grid;
        grid-template-columns: 0,5fr 4fr 1fr;
        grid-template-areas:
        "header header header"
        "nav content content"
        "footer footer footer";
        }
            header{
                border: 1px solid;
                border-color: black;
            }
            footer{
                border: 1px solid;
                border-color: black;
            }
}
.bottom{
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}